node_modules
!/scripts/xlsx2json/node_modules
build/languages/*
.git-credentials
.DS_Store
.vscode
.idea/*.*
.idea
.svn
.git
.uglify
yarn-error.log
dist/fooding_*.js
dist/images/
dist/fonts/
dist/*.css
dist/*.html
dist/*.map
dist/vendor.js
dist/email/